# venv


#pycache
*.pyc 
**/__pycache__

# vs code ws
*.code-workspace
.vscode

# db files
db_dir/


# mac
.DS_Store
*.DS_Store

# pycharm
.idea
/**/.idea/*


# test logs and reports
.log
*.log
test_logs/
test_reports/


# misc
tests/FrameworkLogger.py